.loader {
  position: abosolute;
  top: 1px;
  margin: 0 auto;
  border-bottom: solid 1px;
  border-color: blue;
  width: 30%;
  animation: loader 1.1s infinite linear;
  transition: all;
}

.loader--hide {
  display: none;
}

@keyframes loader {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100vh);
  }
  75% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}
